// app global css
* p {
  margin: 0;
}

body {
  margin: 0;
  z-index: 1;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
}

* a,
* p,
* h1,
* h2,
* h3,
* h4,
* h5,
* ul,
* button {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* label {
  display: block;
}
